body{
background-image: linear-gradient( rgb(2, 94, 26) 20vh, rgb(194, 194, 194) 0vh);
background-size: contain;
background-repeat: no-repeat;
overflow: hidden;
}

#user-menù{
    background-color: #fff;
}
.user-bar,
.chat-user-bar,
.message-bar {
    background-color: rgb(236, 236, 236);
}

.user-bar{
    border-right: 2px solid rgb(216, 216, 216);
}

.fa-caret-down{
    display: none;
}

ul.list-group{
    height: 550px;
    overflow-y: scroll;
}

.display{
    display: block;
}

.display-none {
    display: none;
}

li,
.dropdown {
    cursor: pointer;
}

.message-box{
    background-image: url(../img/mine.jpg);
    height: 700px;
    position: relative;
    overflow-y: scroll;
    overflow-x:hidden;
}

.message {
    margin-top: 60px;
}

.pinned-messages-bar{
    background-color: rgb(212, 212, 212);
    width: 863px;
    height: 50px;
    padding: 10px;
    color:rgb(2, 94, 26);
    position: fixed;
    z-index: 1;
}

.message-baloon{
    margin-top: 0px;
    padding: 20px;
    width: 380px;
    border-radius: 20px;
    margin: 20px;
}

.message-sent {
    background-color: #bfee90;
    position: relative;
    left: 440px;
}

.message-received {
    background-color: #fbf2f2;
}

.menù-on-click{       
    background-color: #fff;
    width: 100px;
    margin-top: -20px;
    margin-left: 25px;
}

.dropdown:hover{
    color:red
}

.avatar-container{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.avatar{
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 100px;
}

.fa-solid,
.fa-regular{
    color: rgb(188, 188, 188);
}

.message-bar input{
    width: 100%;
    border: none;
}
.search-bar input{
    width: 85%;
    border: none;
}

.notifications-bar {
    background-color: rgb(127, 219, 255);
}

.notifications-bar-link {
    color:gray;
}

.fa-bell-slash {
    color: rgb(127, 219, 255);
    margin-right: 10px;
    padding: 18px 16px;
    background-color: #fbf2f2;
    border-radius: 80px;
}


/* ***************** MEDIA QUERIES ****************** */

@media (max-width: 1400px){
    
    .message-baloon {
            width: 320px;
        }
    
        .message-sent {
            left: 380px;
        }

        .pinned-messages-bar {
            width: 743px;
        }

}

@media (max-width: 1200px) {

    .message-baloon {
            width: 280px;
        }
    
        .message-sent {
            left: 300px;
        }

        .pinned-messages-bar {
            width: 623px;
        }
}

@media (max-width: 992px) {
    .notifications-bar-text {
        font-size: 0.8rem;
    }

    .search-bar input {
        width: 60%;
    }

    .fa-caret-down{
        display: block;
    }

    .avatar-user,
    .user-name,
    .fa-caret-down{
        margin-left: 10px;
    }

    .user-bar-icons{
        display:none;
    }

    .message-baloon {
        width: 200px;
    }

    .message-sent {
        left: 220px;
    }

    .pinned-messages-bar {
        width: 463px;
    }

}

@media (max-width: 768px) {
    .notifications-bar-text {
        display: none;
    }

    .fa-bell-slash {
        color: rgb(127, 219, 255);
        margin-left: 50px;
        padding: 18px 16px;
        background-color: #fbf2f2;
        border-radius: 80px;
        
    }

    .search-bar input {
        width: 60%;
    }

    .message-baloon {
        padding: 20px;
        width: 150px;
        border-radius: 20px;
        margin: 20px;
    }

    .message-sent {
        left: 150px;
    }

    .pinned-messages-bar {
        width: 343px;
        font-size: 0.8rem;
    }
}