body{
    background-color: rgb(48, 87, 54);
}

#user-menù{
    background-color: bisque;
}

#message-board{
    background-color: rgb(246, 239, 230);
}

div.container{
    border:1px solid rgb(0, 0, 0);
}

div.col-4,
div.col-8{
    border: 1px solid rgb(0, 0, 0);
}